body {
  margin: 0;
  background-color: #FAFAFA;
}

header {
  background-color: #8DD2CA;
  color: #FAFAFA;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

header h1 label {
  font-size: 2rem;
}

header h1 label:hover {
  color: black;
}

header h1 .icon:hover {
  background-color: #FAFAFA;
  border-radius: 10px;
}

main {
  padding: 1rem;
}

form {
  width: 80%;
  margin:auto;
}

form label {
  display: inline-block;
  width: 30%;
  text-align: right;
}

form input {
  display: inline-block;
  width: 60%;
}

form input[type=number] {
  display: inline-block;
  float: right;
  width: 30%;
  text-align: center;
}

form textarea {
  width: 100%;
  min-height: 10rem;
}

form input[type=submit] {
  margin: 1rem auto;
  display: block;
}

.card .section.action {
  text-align: right;
}

mark.tag {
  float: right;
}
